<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
<head>
<title> { - Team UPLink - } </title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta name="description" content="Your website description goes here" />
<meta name="keywords" content="your,keywords,goes,here" />
<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
<div id="outer">
<br>
<h2><center>TeamUPLink</center></h2>
</div>
<div id="outer">

<div class="orange"></div>
<div id="location">/root/news/</div>
<div id="right">

<h1>{Title}</h1><div class="htimeauth">{Time} | {Date} | <a href="#">{author}</a></div>
<p>{text}</p>

</div>

<div id="left">

<div class="navouter">
<div class="orange"></div>
<div class="navheader">Main Menu</div>
<div class="navcontent">
<ul>
<li><a href="?">Root</a></li>
<li><a href="#">Info</a></li>
<li><a href="#">Projects</a></li>
<li><a href="#">Contact</a></li>

</ul>
Papers
<ul>
<li><a href="#">Programming</a></li>
<li><a href="#">Security</a></li>

</ul>
Community
<ul>
<li><a href="#">Forums</a></li>
</ul>

</div>

</div>

<div class="navouter">
<div class="orange"></div>
<div class="navheader">Linkage</div>
<div class="navcontent">
Nerd
<ul>
<li><a href="#">Think Geek</a></li>
<li><a href="#">Slashdot</a></li>
<li><a href="#">Sourceforge</a></li>
</ul>
Security
<ul>
<li><a href="http://www.remote-exploit.org">Remote-Exploit</a></li>
<li><a href="#">Aircrack</a></li>
<li><a href="#">Airsnort</a></li>
<li><a href="#">Security Focus</a></li>
</ul>
</div>

</div>

<div class="navouter">
<div class="orange"></div>
<div class="navheader">Valid?</div>
<div class="navcontent">
<ul>
<li><a href="http://validator.w3.org/check/referer">XHTML</a></li>
<li><a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a></li>
</ul>

</div>
</div>

</div>


</div>
<div id="outer">
<div id="location">IP: {ip} Browser: {browser}</div>

</div>
</body>
</html>
