<html><head>
<title>TFSCMS</title>

<link rel="shortcut icon" href="http://www.uashem.com/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="style.css"></head><body alink="#d5ae83" background="long_range_fm_trans_files/mainBackground.gif" bgcolor="#bdd6ef" link="#363636" text="#000000" vlink="#363636">
<table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="97%">
<tbody><tr>
<td align="left" bgcolor="#bdd6ef" valign="middle" width="200">
<a href="http://www.uashem.com/index.html"><img src="long_range_fm_trans_files/logo.gif" alt="Electonic circuits and schematics" align="left" border="0"></a></td>
<td bgcolor="#bdd6ef" valign="top"></td>
</tr></tbody></table>
<table align="center" bgcolor="#fefefe" border="0" cellpadding="0" cellspacing="0" width="97%">
<tbody><tr>
<td colspan="4" bgcolor="#000000"><img src="long_range_fm_trans_files/themepixel.gif" alt="" border="0" height="1" hspace="0" width="1"></td>
</tr>
<tr bgcolor="#ffffff" valign="middle">
<td nowrap="nowrap" width="15%"><font color="#363636" size="2"><b>
&nbsp;&nbsp;lefter</b></font></td>
<td align="center" height="20" width="71%"><font size="2"><b>
Middler
</td>
<td align="right" width="15%"><font size="2">Righterrr</font></td>
<td>&nbsp;</td>
</tr>
<tr>
<td colspan="4" bgcolor="#000000"><img src="long_range_fm_trans_files/themepixel.gif" alt="" border="0" height="1" hspace="0" width="1"></td>
</tr>
</tbody></table>

<table align="center" border="0" cellpadding="0" cellspacing="0" width="99%"><tbody><tr valign="top">
<td><img src="long_range_fm_trans_files/themepixel.gif" alt="" border="0" height="20" width="1"></td></tr></tbody></table>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="99%"><tbody><tr valign="top">
<td><img src="long_range_fm_trans_files/themepixel.gif" alt="" border="0" height="1" width="10"></td>
<td valign="top" width="150">
<table bgcolor="#a5ceef" border="0" cellpadding="0" cellspacing="0" width="150"><tbody><tr><td>
<table bgcolor="#000000" border="0" cellpadding="3" cellspacing="1" width="100%">
<tbody><tr><td align="center" bgcolor="#bdd6ef">
<font color="#363636" size="2"><b>Search circuits</b></font>
</td></tr>
<tr>
<td bgcolor="#eeeeee"><form action="search.html" method="post"><br><center><input name="query" size="15" type="text"><br><input value="Search" type="submit"></center></form></td>
</tr>
</tbody></table></td></tr></tbody></table>
<br>


<table bgcolor="#a5ceef" border="0" cellpadding="0" cellspacing="0" width="150"><tbody><tr><td>
<table bgcolor="#000000" border="0" cellpadding="3" cellspacing="1" width="100%">
<tbody><tr><td align="center" bgcolor="#bdd6ef">
<font color="#363636" size="2"><b>Categories</b></font>
</td></tr>
<tr>
<td bgcolor="#eeeeee">
<p style="margin-top: 4px; margin-bottom: 0pt;"><b>Circuits &amp; schematics</b></p><li style="margin-top: 4px; margin-bottom: 4px;"></li><tbody></table></td></tr></tbody></table>
<br>


</td><td><img src="long_range_fm_trans_files/themepixel.gif" alt="" border="0" height="1" width="15"></td><td width="100%">
<table bgcolor="#69b4e8" border="0" cellpadding="0" cellspacing="1" width="100%"><tbody><tr><td>
<table bgcolor="#ffffff" border="0" cellpadding="8" cellspacing="1" width="100%"><tbody><tr><td>
<h1 style="margin-top: 0pt; margin-bottom: 0pt;" align="center">News</h1></td></tr></tbody></table></td></tr></tbody></table>
<br><table bgcolor="#69b4e8" border="0" cellpadding="0" cellspacing="1" width="100%"><tbody><tr><td>
<table bgcolor="#ffffff" border="0" cellpadding="8" cellspacing="1" width="100%"><tbody><tr><td>
<b>LoLTiTLeR</b><hr size="1">
<p>OIOI!! bretzzil</p><p></p></td></tr></tbody></table></td></tr></tbody></table>
</td><td><img src="long_range_fm_trans_files/themepixel.gif" alt="" border="0" height="1" width="15"></td><td valign="top" width="150">

</td><td><img src="long_range_fm_trans_files/themepixel.gif" alt="" border="0" height="1" width="10">
</td></tr></tbody></table>
</body></html>